table.table-p0 tr td:not(:first-child):not(:last-child) , table.table-p0 tr td.is-invalid  {
    padding: 0px !important;
}

table.table-p0 tr td:first-child, table.table-p0 tr td:last-child  {
    padding-bottom: 0px;
}


@media (min-width: 992px){
.modal-lg {
    max-width: 75% !important;
}


.btn.btn-grey{
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}


.btn-light:focus, .btn-light.focus {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    box-shadow: 0 0 0 0.2rem #f8f9fa;
}


/* REPORTS STYTLING */

    .tabs {
        position: relative;
    }
    .tabs:not(.--jsfied) {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .tabs .--hidden {
        display: none;
    }
    .tabs a,
    .tabs button {
        width: 100%;
        height: 100%;
        display: block;
        font-size: 1em;
        line-height: 1.2;
        text-align: center;
        color: #faf3dd;
        background-color: transparent;
    }
    .tabs .-primary {
        display: flex;
    }
    .tabs .-primary > li {
        flex-grow: 1;
        background-color: #a8f3e8;
    }
    .tabs .-primary > li + li {
        border-left: 1px solid #fff;
    }
    .tabs .-primary > li > a,
    .tabs .-primary > li > button {
        white-space: nowrap;
        padding: 1em 0.6em;
        font-size: 1em;
        color: #004a6a;
        box-shadow: inset 0 -0.2em 0 #8dba23;
    }
    .tabs .-primary > li > a:hover,
    .tabs .-primary > li > button:hover {
        background-color: #8dba23;
    }
    .tabs .-primary > li > a:active,
    .tabs .-primary > li > button:active {
        background-color: #d3ef669c;
    }
    .tabs .-primary .-more {
        background-color: #20bd9d;
    }
    .tabs .-primary .-more > button span {
        display: inline-block;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
    }
    .tabs.--show-secondary .-primary .-more > button span {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    .tabs .-secondary {
        max-width: 100%;
        min-width: 10em;
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.3);
        -webkit-animation: nav-secondary 0.2s;
                animation: nav-secondary 0.2s;
    }
    .tabs .-secondary li {
        border-top: 1px solid #20bd9d;
        background-color: #20bd9d;
    }
    .tabs .-secondary a,
    .tabs .-secondary button {
        padding: 0.6em;
    }
    .tabs .-secondary a:hover,
    .tabs .-secondary button:hover {
        background-color: #20bd9d;
    }
    .tabs .-secondary a:active,
    .tabs .-secondary button:active {
        background-color: #20bd9d;
    }
    .tabs.--show-secondary .-secondary {
        display: block;
        z-index: 999;
    }

    @-webkit-keyframes nav-secondary {
        0% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
                transform: translateY(-1em);
        }
        100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        }
    }

    @keyframes nav-secondary {
        0% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
                transform: translateY(-1em);
        }
        100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        }
    }

    .tabs .-primary .active{
        background-color: #8dba23;
    }

    .filepond--credits{
        display: none;
    }

    div .is-invalid span.invalid-feedback{
        display: block;
    }
/* REPORT STYLE END HERE */
